.container {
  display: flex;
}

.nav {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.wrapper {
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu {
  flex: 1.2;
  background-color: var(--bgSoft);
  padding: 20px;
}

.content {
  flex: 6;
  padding: 20px;
}

.cards {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
